@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer utilities {

  .color:nth-child(1) {
    @apply bottom-[-200px] left-[550px] w-[300px] h-[400px] bg-[#edcfabc2] ;
  }
  .color:nth-child(2) {
    @apply bottom-[320px] right-[120px] w-[300px] h-[300px] bg-[#f8e0c2a9];
  }
  .color:nth-child(3) {
    @apply bottom-[520px] left-[20px] w-[300px] h-[300px] bg-[#f8e0c2b4];
  }
  .dark .dark-color:nth-child(1) {
    @apply bottom-[-200px] left-[550px] w-[300px] h-[400px] bg-[#0066ff60];
  }
  .dark .dark-color:nth-child(2) {
    @apply bottom-[320px] right-[120px] w-[300px] h-[300px] bg-[#282474b6];
  }
  .dark .dark-color:nth-child(3) {
    @apply bottom-[520px] left-[20px] w-[300px] h-[300px] bg-[#28247499];
  }

  .dark .dark-bg{
    @apply bg-black
  }
}


.container {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  /* Your container needs a fixed height, and it 
   * needs to be taller than your tallest column. */
  height: 665px;
}
.item {
  width: 32%;
}

/* Re-order items into 3 rows */
.item:nth-child(3n+1) { order: 1; }
.item:nth-child(3n+2) { order: 2; }
.item:nth-child(3n)   { order: 3; }

/* Force new columns */
.container::before,
.container::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}

.custom-inner-shadow {
  position: relative;
}

.custom-inner-shadow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: inherit; /* Ensures the shadow respects the border radius */
}

.custom-inner-shadow:hover::before {
  opacity: 1;
}
.line::after{
content: " ";
position: absolute;
height: 1px;
width: 80px;
background: rgb(208, 205, 205);
top: 15px;
right: 10px;
}
.line::before{
content: " ";
position: absolute;
height: 1px;
width: 80px;
background: #d0cdcd;
top: 15px;
left: 10px;
}
input{
  outline: none !important;
  border: none  !important;
}
.pill {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  width: 6rem;
  text-align: center;
  border-radius: 9999px;
  font-size: 0.8rem;
  font-weight: bold;
}

section .color, section .dark-color {
  position: fixed;
  filter: blur(150px);
  z-index: -1;
}

section .color:nth-child(1) {
  bottom: -200px;
  left: 550px;
  width: 300px;
  height: 400px;
  background-color: #edcfabc2;
}
section .color:nth-child(2) {
  bottom: 320px;
  right: 120px;
  width:300px;
  height:300px;
  background-color: #f8e0c2a9;
}
section .color:nth-child(3) {
  bottom: 520px;
  left: 20px;
  width:300px;
  height:300px;
  background-color: #f8e0c2b4;
}

@media (max-width: 768px) {
  section .color:nth-child(1) {
    bottom: 180px;
    left: 170px;
    width: 400px;
    height: 400px;
    background-color: #0066ff77;
  }
  section .color:nth-child(2) {
    bottom: 20px;
    right: 120px;
    width: 250px;
    height: 250px;
    background-color: #28247477;
  }
}